<div class="practice">
  <form class="practice__form" [formGroup]="practiceForm">
    <div class="practice__form__container">
      <h3>
        Word Spelling
        <img (click)="speakWord()" src="../../assets/speaker_icon.svg" class="speaker-icon"/>
      </h3>
      <p>Meaning Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse odio molestias vero amet.</p>

      <mat-form-field>
        <input matInput formControlName="word" placeholder="Word Spelling">
      </mat-form-field>
    </div>

    <button mat-raised-button color="primary" [disabled]="!practiceForm.valid" (click)="checkSpelling()">Check Spelling</button>
  </form>
</div>