<mat-progress-bar mode="indeterminate" *ngIf="definitionLoading"></mat-progress-bar>
<div class="add-word">
  <form class="add-word__form" [formGroup]="addWordForm">
    <div class="add-word__form__container">
      <mat-form-field>
        <input matInput formControlName="word" placeholder="Word Spelling">
      </mat-form-field>

      <span *ngIf="wordSuggestion" class="add-word__form__word-suggestion">
        Did you mean?
        <em (click)="useSuggestion()">{{wordSuggestion.word}}</em>
      </span>

      <mat-form-field>
        <input matInput formControlName="pronunciation" placeholder="Word Pronunciation (Clue word)">
      </mat-form-field>

      <mat-form-field>
        <textarea matInput formControlName="definition" placeholder="Meaning (optional)"></textarea>
      </mat-form-field>
    </div>

    <div class="add-word__form__buttons">
        <button mat-raised-button color="warn" (click)="resetForm()">Reset</button>

        <button mat-raised-button color="accent" [disabled]="!addWordForm.valid" (click)="saveWord()">Save & Add More</button>
        <button mat-raised-button color="primary" [disabled]="!addWordForm.valid" (click)="saveWordAndExit()">Save</button>
    </div>
  </form>
</div>