.container {
    &--fixed {
        padding-top: 64px;
    }
}

.action-bar {
    padding: 1rem;
    background: #252b50;

    &--fixed {
        position: fixed;
        width: 100%;
        top: 64px;
    }
}

@media (max-width: 599px) {


    .action-bar {
        &--fixed {
            top: 56px;
        }
    }
}

.section {
    padding: 1rem;

    &__header {
        margin: 0 0 .5em;
        font-size: 1.25rem;
    }

    &__main-img {
        margin: 0 auto;
        display: block;
        border-radius: 50%;
        width: 10rem;
        box-shadow: 0 0 40px #bfbfbf;
    }

    &--secondary {
        background: #f3f3f3;
    }
}
